* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(40, 39, 39);
}

.cabecalho {
    background-image: url('./assets/banner-ciberseguranca.jpg'); /* pasta assets n existe */    
    color: white;
}